.img{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.content{
    white-space: pre-wrap;
    margin-top: 1%;
    padding-right: 2%;
    font-size: 13px;
    clear: left;
}

.icon{
    height: 30px;
}

.main{
    width: 90%;
}
.author{
    font-size: 14px;
}

.date{
    font-size: 10px;
    font-weight: 300;
}
@media (min-width: 768px) {
    .row{
        margin-left: 3%;
    }
    .content{
        white-space: pre-wrap;
    }
    .main{
        width: auto;
    }
    .date{
        font-size: inherit;
    }
}