.item{
  border: 1px solid #eee;
  padding: 10px;
}

.active{
  border: 1px solid #eee;
  padding: 10px;
  color: #2299dd;
  background:#fafafa;
}
@media (min-width: 768px) {
  .container {
    padding-left: 6%;
    padding-right: 6%;
  }
}

