.description{
  font-size: 14px;
  color: #808080;
}
.author{
  font-size: 14px;
}

@media (min-width: 992px){
  .container{
    padding-left: 6%;
    padding-right: 6%;
  }
  .row{
    margin-top:5%
  }
  .rowChildren{
    margin-top:15%
  }
}