.navbar {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 25px;
  margin-bottom: 10px;
}

.navbarBrand {
  font-size: 25px;
  font-weight: bolder;
  margin-left: -15px;
}

.navbarBrand:hover {
  color: inherit;
  text-decoration: none;
}

.dropdown{
  margin-top: -6px;
}

.navbarItem{
  margin-left: -5px;
}

.img{
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 25px;
  }

  .toggle {
    display: none;
  }
  .navbarItem{
    margin-left: 10px;
  }
  .navbarBrand {
    font-size: 35px;
    font-weight: bolder;
    margin-left: -18px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 6%;
    padding-right: 6%;
  }
  .navbarBrand {
    font-size: 35px;
    font-weight: bolder;
    margin-left: -18px;
  }
}