.arrow,
.arrowDisabled,
.arrowLeft,
.arrowRight {
  display: none;
}

.dot {
  @apply h-2.5 w-2.5 bg-gray-400 mx-1.5 p-1.5 rounded-full focus:outline-none cursor-pointer;
}

.active {
  @apply bg-blue-900 h-2.5 w-2.5 mx-1.5 p-1.5 rounded-full focus:outline-none cursor-pointer;
}

@media (min-width: 768px) {
  .arrow,
  .arrowDisabled,
  .arrowLeft,
  .arrowRight {
    display: block;
  }
  .arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: blue;
    cursor: pointer;
  }

  .arrowLeft {
    left: 5px;
  }

  .arrowRight {
    left: auto;
    right: 5px;
  }

  .arrowDisabled {
    fill: rgba(255, 255, 255, 0.5);
  }
}
